.center-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.record-card{
  background-color: white;
  border: transparent;
  height: 300px;
}

h4{
  letter-spacing: 1px;
}

.btn-circle.btn-xl {
  width: 75px;
  height: 75px;
  padding: 10px 16px;
  border-radius: 52px;
  font-size: 16px;
  text-align: center;
  background-color: #233044;
}

.stopBtn{
  padding-right: 28px;
  padding-left: 28px;

}

.downloadBtn{
  height: 48px;
  background-color: #233044;

}
.text-right{
  color: #233044;
}
.container{

}
#lancerrecordtwilio, #lancerrecordtwilio2{

  font-size: 2em;
margin-top: 2em;
  color: red;
  position: relative;
  cursor: pointer;
  top:0.35em;
}
.left-player{
    z-index: 3;
  margin-right: 0px;
  position: absolute;
  left: 14em;
  height: 54px;
  width: 4em;
  border-bottom-left-radius: 25px ;
border-top-left-radius: 25px;
  background-color: #F1F3F4;

}

.right-player{
  z-index: 3;
  margin-bottom: 2px;
  position: absolute;
  right: 15.5em;
  height:4.15em;

  width: 5em;
  border-bottom-right-radius: 25px ;
  border-top-right-radius: 25px;
  background-color: #F1F3F4;

}

.download-audio{
  height: 20px; width: 20px;
  font-size: 2em;
  margin-top: 0.6em;

  cursor: pointer;

}
.stop-recording{
  height: 25px;
  width: 25px;
  margin-top: 1.2em;
  cursor: pointer;
}
.Rec{
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
button {
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: red;
  border: 0;
  border-radius: 35px;
  margin-left: 7px;
  outline: none;
  margin-top: 12px;
}

#lefty{

  left: 11.5em!important;
}
@keyframes pulse{
  0%{
    box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
  }
  65%{
    box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
  }
  90%{
    box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
  }
}
@media screen and (max-width: 1500px) {
  .left-player{
    z-index: 3;
    left: 7em;

    border-bottom-left-radius: 25px ;
    border-top-left-radius: 25px;
    background-color: #F1F3F4;

  }
  .right-player{
    z-index: 3;
    margin-bottom: 2px;
    position: absolute;
    right:2em;


  }
  #lefty{
    left: 6em!important;
  }

}
