.css-1hy9t21 {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}
.css-jp7ee5 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.43;
}
.first_title {
  color: rgba(0, 0, 0, 0.87);
  margin: 0px 0px 0.35em;
  margin-bottom: 16px ;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.all-section-profil {
  padding-right: 48px;
  padding-left: 48px;
}
strong {
  color: rgba(0, 0, 0, 0.692);
}
.progress-bar-value {
  font-size: 13px;
  margin-bottom: 2px;
  text-align: center !important;
  font-size: 0.8em;
  color: #455a64 !important;
}
.progress-create {
  display: flex !important;

  float: right !important;
}
.all-progress {
  margin-right: 15px !important;
}
mat-progress-bar {
  width: 80px !important;
  height: 3px !important;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #22b14c !important;
}

.presentation-to {
width: 100%;
padding-right: 16px;
  position: relative;

}
.all-label{
  margin-left: 0px !important;
}
// .presentation-to:before {
//   content: "\201C";
//   font-size: 50px;
//   font-weight: bold;
//   position: absolute;
//   left: -5px;
//   top: -10px;
//   color: #ffcf00;
// }
p,
h1,
h2,
h3,
h4,
h5,

div,
th,
td,
body {
  color: rgba(0, 0, 0, 0.87);
 // color: #67757c !important;
 
  //margin: 12px 0px 0px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.43;
}


.mdi:before,
.mdi-set {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.css-1ipadgh {
  margin: 0px 0px 0.35em;
 font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.43;
}
.mat-checkbox-label {
  font-family: "Source Sans Pro", sans-serif !important;
  line-height: 1.25;
  text-shadow: none;
  font-weight: 300;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  display: inline-block;
 
}
.span{
  font-size: 10px;
}
.Types-mission{
  padding-left: 15px;
}
.Disponibilites{
margin: 1px;
}
.block-selectionne {
  min-height: 142px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 30px;
  border-radius: 4px;
  border: 2px solid #00a4dd ;
}
 .block-secondaire {
  min-height: 142px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 30px;
  border: 2px solid #67757c80 ;
  color:#67757c80 !important ;
  border-radius: 4px;
}
.rouge {
  color: red;
}

.css-10rvbm3 {
  font-weight: 500;
}
.css-pelz90 {
  font-weight: 400;
}
.css-1vjxqmu {
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.16071rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  display: inline-block;
  height: 128px;
  width: 128px;
}
.css-1qm1lh {
  margin-bottom: 16px;
}
// .css-i3pbo {
//   margin-bottom: 16px !important;
// }
.css-1oh570t {
  margin: 0px 0px 0.35em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.all-section{
  padding: 16px;
  margin-bottom: 24px;
}
.css-1jaw3da {
  // display: inline-flex; 
   //-webkit-box-align: center; 
//  align-items: flex-start;
   cursor: pointer; 
  //vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  margin-left: -11px;
  margin-right: 16px;
}
label {
  cursor: default;
}
svg:not(:root) {
  overflow: hidden;
}
.css-75todq.Mui-checked, .css-75todq.MuiCheckbox-indeterminate {
  color: rgb(55, 111, 208);
}
.css-75todq {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  padding: 9px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.6);
}
.css-dhtbsz {
  margin: 0px;
  font-size: 13px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.5;
}
.css-1m9pwf3 {
 
  display: inline-block;
  height: 16px;
  line-height: 0;
  margin: auto;
  margin-right: 8px;
  order: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 16px;
  flex-shrink: 0;

}
input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}
// .css-1jaw3da {
//   display: inline-flex; 
//   -webkit-box-align: center; 
//   //align-items: center; 
//   cursor: pointer; 
//   vertical-align: middle;
//   -webkit-tap-highlight-color: transparent;
// margin-bottom:  12px;
// }
mat-card{
  position: relative !important;
    background-color: white!important;
    color: rgba(0, 0, 0, 0.87)!important;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms!important;
    overflow: hidden!important;
    border-radius: 6px!important;
    box-shadow: rgb(50 50 93 / 2%) 0px 2px 5px -1px, rgb(0 0 0 / 5%) 0px 1px 3px -1px!important;
    background-image: none!important;
    padding: 16px!important;
    padding-bottom: 24px!important;
}
.Types-mission{
  padding-left: 15px;
}
.fa-icon{
  margin-left: 20px;
}
.presentation-to {
  width: 100%;
  padding-right: 16px;
    position: relative;
  
  }
  .css-jp7ee5 {
      color: rgba(0, 0, 0, 0.87);
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      font-size: 0.8125rem;
      line-height: 1.43;
    }
