<div class="p-5 pt-0">
    <div class="example-container "><mat-tab-group>
    <mat-tab label="First">  
        <ng-template mat-tab-label>Details</ng-template>
        <div class="p-3">
            <div class="mt-2">Product name:{{productName}}</div>
            <div class="mt-2">Price:{{price}}</div>
            <div class="mt-2">Category:{{category}}</div>
        </div> 
    
    </mat-tab>
    <mat-tab label="Second">
        <ng-template mat-tab-label>Categories</ng-template>
   Categories
    </mat-tab>  
  </mat-tab-group>
    </div>
</div>
