<div fxFlex.gt-sm="100%" fxFlex="100">
  <div class="all-section-profil">
    <!--------------->

    <!-- My profile START -->
    <mat-card class="all-section">
      <!-- Cover image -->
      <div
        class="h-200px rounded-top"
        style="
          background-image: url(assets/images/job-phoning/05.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        "
      ></div>
      <!-- Card body START -->
      <div class="card-body py-0">
        <div class="d-sm-flex align-items-start text-center text-sm-start">
          <div>
            <!-- Avatar -->
            <div class="avatar avatar-xxl mt-n5 mb-3">
              <img
                class="avatar-img rounded-circle border border-white border-3"
                src="assets/images/job-phoning/07.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="row mt-sm-3 d-flex">
            <!-- Info -->
            <h1 class="mb-0 h5">
              Sam Lanson
              <img
                class="ml-5"
                src="../../../../assets/images/image-profile/France.png"
                alt=""
              />
            </h1>

            <ul class="d-flex w-100 list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0">
              <li class="list-inline-item"><mat-icon class="blue-">perm_phone_msg</mat-icon> Lead Developer
              </li>
              <li class="list-inline-item"><mat-icon class="blue-">question_answer</mat-icon> New Hampshire</li>
              <li class="list-inline-item"><mat-icon class="blue-">power_settings_new</mat-icon> Joined on Nov
                  26,
                  2019
              </li>
          </ul>
          </div>
        </div>
        <!-- timer -->
        <div class="p_timer col-sm-3 d-flex">
          <i class="mdi mdi-timer icone-timer ouverte"></i>
          <div class="all-legende">
            <div
              class="timer timer-liste-mission ouverte"
              data-temps-restant="2022/07/12 11:14"
            >
              00 : 22 : 28
            </div>
            <div class="legende-timer ouverte">
              <span class="jour">jour(s)</span>
              <span class="heure">heure(s)</span>
              <span class="minute">min(s)</span>
            </div>
          </div>
        </div>
        <!-- List profile -->
        <div class="">
          <div class="col-lg">
            <p>
              Bonjour à tous, Agent d'assurance au sein d'un grand groupe
              français, je suis spécialisé dans la protection financière de
              personnes. Je recherche activement un profil de téléopérateur pour
              me prendre des RDV qualifiés sur une cible de professions
              libérales, travailleurs indépendan...
            </p>
          </div>
        </div>
        <div>
          <div class="info-mission">
            <div class="row">
              <div class="col-md-2">
                <div class="nb-offres-mission centrer centrer-v">
                  <div class="titre-colonne">Offre(s)</div>
                  <b>3</b>
                </div>
              </div>
              <div class="col-md-2">
                <div class="budget-mission centrer centrer-v">
                  <div class="titre-colonne">Budget</div>
                  <b>75€/RDV max.</b>
                </div>
              </div>
              <div class="col-md-2">
                <div class="objectif-mission centrer centrer-v">
                  <div class="titre-colonne">Objectif</div>
                  <b>5 RDV(s)</b>
                </div>
              </div>
              <div class="col-md-2">
                <div class="debut-mission centrer centrer-v">
                  <div class="titre-colonne">Début</div>
                  <b>04/07/2022</b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-----------**********************************************************************************************************************************************************-->
        <div class="all-new-section">
          <blockquote>
            <div fxLayout="row wrap" >
              <div class="first_title">Description de la mission:</div>
              <span
                class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"
              ></span>
              <p>
                Bonjour, Notre société est spécialisée depuis 20 ans dans la
                location de systèmes d'impression (photocopieurs, imprimantes,
                scanner). Le but de la mission est de contacter des prospects
                ciblés dans l'objectif de vérifier quelques informations à leur
                sujet. Nous souhaitons nous engager dans une collaboration sur
                le long terme avec un/une Téléprospecteur-trice.
              </p>
              <div class="first_title">Besoin:</div>
              <span
                class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"
              ></span>
              <p class="p-Besoin">Régulier de 200 fiche(s) par mois</p>
            </div>
          </blockquote>
        </div>
        <!-----------**********************************************************************************************************************************************************-->
        <div fxLayout="row wrap mt-3" >
        <div class="first_title mt-3">Horaires d'ouverture de la mission:</div>
        <table
          id="criterehorairedisplaymission"
          class="table table-striped table-borderless mt-3 mb-3 "
        >
          <!--Table head-->
          <thead class="thead">
            <tr>
              <th>Lundi</th>
              <th>Mardi</th>
              
            
            </tr>
          </thead>
          <tbody>
            <tr> <td>Lundi</td><td>8h00 à 19h00</td></tr>
              <tr><td>Mardi</td><td>8h00 à 19h00</td></tr>
              <tr><td>Mercredi</td><td>8h00 à 19h00</td></tr>
             <tr><td>Jeudi</td><td>8h00 à 19h00</td></tr> 
              <tr><td>Vendredi</td><td>8h00 à 19h00</td></tr>
              
          
          </tbody>
          <!--Table body-->
        </table>
        </div>
        <!-----************************************************************************************************************************************************************-->
         <!-----------**********************************************************************************************************************************************************-->
         <div fxLayout="row wrap mt-3" >
         
          <table
          
            class="table table-striped table-borderless mt-3 mb-3 "
          >
            <!--Table head-->
            <thead class="thead">
              <tr class="text-center">
                <th>Téléopérateurs</th>
                <th>Voix</th>
                <th>Note</th>
                <th>Offres</th>
                <th>Profil</th>
               
              
              </tr>
            </thead>
            <tbody>
              <tr class="text-center"> 
                <td class="identite-teleoperateur ">
                  <img
                  src="/assets/images/job-phoning/300-1.jpg"
                  alt="Metornic" class="avatar"
                />
                <br>      
                   
                            <span class="nom-prospect ">Max Smith</span>
                </td>
                <td><mat-icon class="volume-icon">volume_up</mat-icon></td>
                <td> <div
                  class=""
                >
                  <div >
                    <div class="fs-2 fw-bolder">
                      <span> 4 </span>/10
                    </div>
                  </div>
                  <div class="all-star mt-2">
                    <mat-icon>star</mat-icon><mat-icon>star</mat-icon
                    ><mat-icon>star</mat-icon><mat-icon>star</mat-icon>
                  </div>
                </div></td>
                <td>montant privé <mat-icon>https</mat-icon></td>
                <td> <button
                
                  class="btn-saves "
                >
                  Voir le profil
                </button></td>
              </tr>
            
                
            
            </tbody>
            <!--Table body-->
          </table>
          </div>
          <!-----************************************************************************************************************************************************************-->
       